/* General Styles */

h1 {
    color: navy;
}

  /* Main Content */

#wrapper {
   
    /* Positioning */
    margin: 40px auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

/* Sticky Footer */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.text-muted {
    color: #6c757d!important;
}

/*
  These rules take effect when the browser's width
  is either 768px or less.
*/
@media screen and (max-width: 768px) {
    /* The profile picture will adjust to 50% */
    #profile {
      width: 50%;
    } 
}

